include src/dometawrite/templates/sshconfig.jinja
include src/dometawrite/templates/debug.jinja
include src/dometawrite/templates/authorizedkeys.jinja
include src/dometawrite/templates/droplet_envvars.jinja
